@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.review-container {
    @include border-padding-content;
    width: 100%;

    &__links {
        @include border-padding;
        @include shadow;
        margin-top: 1.75rem;
        display: flex;
        flex-direction: column;
        gap: $gap-default;

        @include tablet {
            flex-direction: row;
        }
    }
}
