@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-contacts {
    @include flex-column;
    gap: $gap-default;
    width: 100%;

    &__header {
        padding-left: 0.75rem;
        opacity: 50%;
    }

    &__upload {
        display: flex;
        gap: $gap-default;

        &-input {
            @include flex-column;
            background-color: #fff;
            border-radius: $border-radius-default;
            padding: $border-padding-default;
            width: 100%;

            &-label {
                font-size: 0.85rem;
            }

            &-border {
                border: none;
                outline: none;
            }
        }

        &-button {
            @include flex;
            flex-shrink: 0;
            background-color: #fff;
            border-radius: $border-radius-default;
            padding: $border-padding-default;
            cursor: pointer;
        }
    }
}
