@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
    background-color: #fff;
    @include flex-vertical;
    border-radius: $border-radius-default;
    padding: 0.5rem 0.75rem;
    gap: $gap-default;
    min-height: 3.85rem;

    &:hover {
        transform: scale(1.0075);
        @include shadow;
    }

    @include tablet {
        gap: 2.75rem;
    }

    &-container {
        &__select {
            @include border-image;
            @include flex;
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;

            &-fill {
                @include border-image;
                background-color: black;
                width: 0.5rem;
                height: 0.5rem;
            }
        }

        &__img {
            @include border-image;
            width: 2.25rem;
            height: 2.25rem;
            object-fit: cover;
        }

        &__information {
            width: 35%;

            &-email {
                opacity: 50%;
            }
        }

        &__more {
            display: none;

            @include tablet {
                @include border-image;
                @include flex;
                width: 1rem;
                height: 1rem;
            }
        }

        &__business {
            display: none;
            width: 20%;

            @include tablet {
                display: block;
            }
        }

        &__progress {
            display: none;

            @include desktop {
                display: block;
            }
        }
    }
}
