@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
    @include flex-column;
    gap: $gap-default;

    @include desktop {
        flex-direction: row;
    }

    &__ctn {
        @include flex-column;
        gap: $gap-default;

        @include desktop {
            flex: 1 1 0;
        }

        &-targets {
            @include flex-column;
            gap: $gap-default;

            @include tablet {
                flex-direction: row;
            }

            &-title {
                @include flex;
                gap: $gap-default;
                border-radius: $border-radius-default;
                padding: $border-padding-default;
                background-color: #fff;
                width: 100%;

                &-content {
                    &-name {
                        opacity: 50%;
                        font-size: 0.75rem;
                    }

                    &-input {
                        border: none;
                        outline: none;
                        font-size: 0.875rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        &-main {
            @include flex-column;
            gap: $gap-default;
            border-radius: $border-radius-default;
            padding: 1.75rem;
            background-color: #fff;
            width: 100%;
        }

        &-stats {
            @include flex-column;
            gap: $gap-default;

            @include tablet {
                flex-direction: row;
            }

            &-title {
                @include flex;
                gap: $gap-default;
                border-radius: $border-radius-default;
                padding: $border-padding-default;
                background-color: #fff;
                width: 100%;

                &-content {

                    &-div {
                        @include flex-vertical;
                        gap: $gap-default;

                        &-color {
                            color: #058621;
                        }
                    }

                    &-name {
                        opacity: 50%;
                        font-size: 0.75rem;
                    }

                    &-input {
                        border: none;
                        outline: none;
                        font-size: 0.875rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    &__stats {
        @include flex-column;
        gap: $gap-default;

        @include desktop {
            flex: 0.35 1 0;
        }

        &-contacts,
        &-networking {
            @include flex-column;
            gap: $gap-default;
            border-radius: $border-radius-default;
            padding: 1rem;
            background-color: #fff;

            @include desktop {
                flex: 1 1 0;
            }

            &-header {
                font-size: 0.8125rem;
                opacity: 50%;
            }

            &-indv {
                @include flex-column;
                gap: $gap-default;

                &-name {
                    @include flex-vertical;
                    justify-content: space-between;
                }
            }
        }
    }
}

.negative {
    color: red;
}
