@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-leads {
    width: 100%;

    &__links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.75rem;

        &-spacing {
            display: flex;
            gap: $gap-default;
        }
    }

    &__input {
        @include flex-column;
        gap: 1.75rem;

        &-img {
            @include border-no-radius;
            border-radius: 25%;
            width: 5.25rem;
            height: 5.25rem;
            object-fit: cover;
            filter: grayscale(100%);

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                filter: grayscale(0%);
            }

            &:active {
                position: relative;
                left: 5rem;
                top: 3.5rem;
                transform: scale(2.5);
            }
        }

        &-dropdown {
            display: flex;
            gap: $gap-default;
        }

        &-personal,
        &-business {
            @include flex-column;
            gap: $gap-leads;
        }
    }
}

.save-data-leads {
    padding-bottom: $padding-default;
}
