@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.settings {
    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        @include border-no-radius;
        @include shadow;
        border-radius: $border-radius-default;
        padding: 0 0.75rem;

        &-information,
        &-delete {
            @include border-no-radius;
            @include shadow;
            border-radius: $border-radius-default;
            padding: $padding-default;
            margin: 0.75rem 0;
        }

        &-information {
            &-header,
            &-content,
            &-input {
                padding-bottom: $padding-default;
            }

            &-input {
                display: flex;
                flex-direction: column;
                gap: $padding-default;

                @include tablet {
                    width: 80%;
                    flex-direction: row;
                }

                &-indv {
                    @include tablet {
                        flex-grow: 1;
                    }
                }
            }

            &-button {
                display: flex;
            }
        }

        &-delete {
            &-header,
            &-content {
                padding-bottom: $padding-default;
            }

            &-button {
                display: flex;
            }
        }
    }
}
