@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.settings {
    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        @include border-no-radius;
        @include shadow;
        border-radius: $border-radius-default;
        padding: 0 .75rem;

        &-information, &-delete {
            @include border-no-radius;
            @include shadow;
            border-radius: $border-radius-default;
            padding: $border-padding-default;
            margin: .75rem 0;
        }

        &-information {
            
        }

        &-delete {
            
        }
    }
}
