@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.settings {
    @include flex-column;
    gap: $gap-default;

    &__information,
    &__delete {
        @include border-padding-content;
    }

    &__information {
        &-header,
        &-content,
        &-input {
            padding-bottom: $padding-default;
        }

        &-input {
            @include flex-column;
            gap: $padding-default;

            @include tablet {
                width: 80%;
                flex-direction: row;
            }

            &-indv {
                @include tablet {
                    flex-grow: 1;
                }
            }
        }
    }

    &__delete {
        &-header,
        &-content {
            padding-bottom: $padding-default;
        }
    }

    &__link {
        margin-top: 1.25rem;

        @include tablet {
            display: flex;
        }
    }
}
