@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
    @include border-no-radius;
    padding: $padding-default;
    border-radius: $border-radius-default;
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
    width: 100%;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}
