@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

html {
    max-width: 42.5rem;
    margin: auto;
    background-color: #F4F4F6;

    @include desktop {
        max-width: 160rem;
        margin: auto;
    }
}