@use "./variables" as *;

// Tablet and Desktop Breakpoints

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-horizontal {
    display: flex;
    justify-content: center;
}

@mixin flex-vertical {
    display: flex;
    align-items: center;
}

@mixin border {
    border: 1px solid black;
    border-radius: 50%;
}

@mixin border-no-radius {
    border: 1px solid black;
}

@mixin shadow {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
}
