$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$prim-color-1: #faf6f1;

$btn-color-1: #1c3f32;
$btn-color-2: #e43a07;
$btn-color-3: #faf6f1;
$btn-input-padding-default: 0.35rem 1rem;

$border-radius-default: .75rem; 

