@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button-link {
    @include flex-vertical;
    gap: $gap-default;
    padding: $btn-input-padding-default;
    border-radius: 5rem;
    font-size: 0.75rem;
    width: 100%;
    color: #000;
    text-decoration: none;

    @include desktop {
        color: #fff;
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &__img {
        @include desktop {
            filter: brightness(0) invert(1);
        }
    }
}
