@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button-link {
    @include flex-vertical;
    @include border-no-radius;
    gap: $gap-default;
    padding: $btn-input-padding-default;
    border-radius: 5rem;
    font-size: 0.75rem;
    width: 100%;
    color: #000;
    text-decoration: none;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}
