@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-company {
    width: 100%;
    overflow: hidden;

    &__links {
        display: flex;
        gap: $gap-default;
        margin-bottom: 1.75rem;

        &-spacing {
            display: flex;
            gap: $gap-default;
        }
    }

    &__input {
        @include flex-column;
        gap: 1.75rem;

        &-dropdown {
            display: flex;
            gap: $gap-default;
        }

        &-personal,
        &-business {
            @include flex-column;
            gap: $gap-contacts;
        }
    }

    &__card-modal {
        @include shadow;
        @include flex;
        background-color: #fff;
        border-radius: $border-radius-default;
        position: absolute;
        padding: 1.25rem;
        top: 1.5%;
        animation: slideInFromTop 1s;
        @keyframes slideInFromTop {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0%);
            }
        }

        &-background {
            @include flex;
        }
    }
}

.save-data-contacts {
    padding-bottom: $padding-default;
}
