@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.template-preview {
    @include border-padding-content;
    @include shadow;

    &__header,
    &__content {
        padding-bottom: $padding-default;
    }

    &__button {
        margin-top: 1.25rem;

        @include tablet {
            display: flex;
            gap: $gap-default;
        }

        &-open-file {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }
}
