@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.template-preview {
    @include border-padding-content;
    @include shadow;
    @include flex-column;
    justify-content: center;
    min-height: 10.75rem;

    &__header,
    &__content {
        padding-bottom: $padding-default;
    }

    &__button {
        @include flex-column;
        gap: $gap-default;
        text-align: center;
        margin-top: 1.25rem;

        @include tablet {
            flex-direction: row;
        }
    }
}
