@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.template-preview {
    @include border-no-radius;
    @include shadow;
    border-radius: $border-radius-default;
    padding: 0.5rem 0.75rem;

    &__header, &__content {
        padding-bottom: $padding-default;
    }

    &__button {
        @include tablet {
            display: flex;
        }
    }
}