@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.interface {
    padding: 1.25rem;
    min-height: 100vh;

    &__structure {
        width: 100%;
        height: 100%;

        @include desktop {
            display: flex;
            gap: 1.25rem;
        }

        &-sidebar {
            @include desktop {
                flex: 0.125 1 0;
                min-width: 13.75rem;
                max-width: 13.75rem;
            }
        }

        &-routes {
            min-height: 94.25vh;
            max-height: 94.25vh;

            @include desktop {
                box-shadow: none;
                flex: 1 1 0;
            }

            &::-webkit-scrollbar {
                display: none;
                @include border-no-radius;
                border-radius: $border-radius-default;
                width: 1rem;
                height: 1rem;
            }

            &::-webkit-scrollbar-thumb {
                @include border-no-radius;
                @include shadow;
                border-radius: $border-radius-default;

                &:hover {
                    background-color: #e9ecef;
                }
            }

            @include tablet {
                width: 100%;
            }
        }
    }
}
