@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.templates {
    @include border-no-radius;
    @include shadow;
    border-radius: $border-radius-default;
    padding: 0.5rem 0.75rem;

    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        @include flex-column;
        gap: 0.5rem;
    }
}
