@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.templates {
    @include flex-column;
    gap: $gap-default;

    &__url {
        @include border-padding-content;
        @include flex-column;
        justify-content: center;
        gap: $gap-default;
        min-height: 12.5rem;

        &-links {
            @include flex-column;
            gap: $gap-default;
            text-align: center;
            margin-top: 1.25rem;

            @include tablet {
                flex-direction: row;
            }
        }
    }
}
