@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-field {
    @include flex-vertical;
    background-color: #FFF;
    border-radius: $border-radius-default;
    padding: $border-padding-default;
    width: 100%;
    gap: $gap-default;

    &__img {
        width: 1.25rem;
        opacity: 50%;
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
    }
}
