@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.input {
    @include flex-column;
    @include shadow;
    @include border-padding;
    width: 100%;

    &__label {
        font-weight: 600;
        font-size: 0.85rem;
    }

    &__input {
        border: none;
        outline: none;
    }
}
