@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.editor {
    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        border: 1px solid black;
        border-radius: $border-radius-default;
        padding: 0 1.5rem;
        @include shadow;

        &-content {
            margin: 1rem 0;
        }

        &-btn {
            display: flex;
            margin: 1rem 0;
        }
    }
}
