@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.editor {
    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        @include shadow;
        @include border-padding-content;

        &-link {
            @include border-padding;
            @include shadow;
            margin-top: 1.75rem;
            display: flex;
            flex-direction: column;
            gap: $gap-default;

            @include tablet {
                flex-direction: row;
            }
        }
    }
}
