@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.lead-minimized {
    @include flex-vertical;
    background-color: #FFF;
    border-radius: $border-radius-default;
    gap: $gap-leads;
    padding: 0.5rem 0.75rem;
    min-height: 3.85rem;

    &:hover {
        transform: scale(1.0075);
        @include shadow;
    }

    &__select {
        @include border-image;
        @include flex;
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
    }

    &__img {
        @include border-image;
        width: 2.25rem;
        height: 2.25rem;
        object-fit: cover;
    }

    &__information {
        width: 65%;
    }

    &__more {
        @include border-image;
        @include flex;
        width: 1rem;
        height: 1rem;
        margin-left: $margin-default;

        @include tablet {
            display: none;
        }
    }
}
