@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    margin: $border-margin-default;

    &__sec {
        @include shadow;
        border: 1px solid black;
        border-radius: $border-radius-default;
        padding: $border-padding-default;
        display: flex;
        align-items: center;
        gap: $gap-default;
    }
}

.menu {
    border: 1px solid black;
    border-radius: $border-radius-default;
    padding: $btn-input-padding-default;
    height: 2rem;
    display: flex;
    align-items: center;

    &__img {
        height: 100%;

        &:hover {
            cursor: pointer;
            transform: scale(1.25);
        }
    }
}
