@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.ai-generator {
    @include flex-column;
    height: 85vh;
    gap: $gap-default;

    @include desktop {
        height: 100%;
    }

    &__header {
        @include flex-column;
        gap: $gap-default;
        background-color: #fff;
        padding: 1.75rem;
        border-radius: $border-radius-default;
    }

    &__response {
        height: 100%;
        background-color: #fff;
        padding: 1.75rem;
        border-radius: $border-radius-default;

        &-indv {
            &-fade {
                opacity: 50%;
            }
        }
    }

    &__form {
        @include flex-column;
        width: 100%;
        gap: $gap-default;

        @include desktop {
            flex-direction: row;
        }

        &-input {
            background-color: #fff;
            border-radius: $border-radius-default;
            padding: $border-padding-default;
            border: none;
            width: 100%;
            outline: none;
            resize: none;
            height: 2.5rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-button {
            display: flex;
            align-items: flex-end;

            &-indv {
                border: none;
                padding: $btn-input-padding-default;
                border-radius: $border-radius-default;
                background-color: #000;
                color: #fff;
                font-size: 0.75rem;
                text-decoration: none;
                min-height: 2.5rem;
                max-height: 2.5rem;
                width: 100%;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}
