@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-list {
    display: none;
    @include shadow;

    @include tablet {
        @include border-no-radius;
        display: block;
        border-radius: $border-radius-default;

        &__link {
            margin: $margin-default;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}
