@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-list {
    display: none;

    @include desktop {
        @include flex-column;
        justify-content: space-between;
        background-color: #1f3146;
        border-radius: $border-radius-default;
        padding: $padding-default;
        color: #fff;
        height: 100%;
    }

    &__ctn {
        @include flex-column;
        gap: 4.25rem;

        &-user {
            @include flex-vertical;
            border: 1.5px solid #fff;
            gap: $gap-default;
            padding: 0.35rem 0.5rem;
            border-radius: $border-radius-default;
            font-size: 0.75rem;
            width: 100%;

            &-text {
                font-size: 0.75rem;
            }

            &-img {
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
                border: 1px solid black;
            }
        }

        &-main {
            @include flex-column;
            gap: $gap-default;
        }
    }

    &__settings {
        @include flex-column;
        gap: $gap-default;
    }
}
