@use "../../styles/partials/mixins" as *;

.loading {
    @include flex-column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    width: 100%;
    height: 100%;

    @include tablet {
        gap: 3.25rem;
    }

    &__header {
        @include flex-column;
        align-items: center;
        gap: 2.5rem;

        @include tablet {
            flex-direction: row;
            gap: 3.25rem;
        }

        &-logo {
            width: 11.75rem;

            @include tablet {
                width: 17.25rem;
            }
        }

        &-img {
            width: 1.5rem;
            animation: spin 4s linear infinite;

            @keyframes spin {
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    &__paragraph {
        max-width: 28.5rem;
        font-size: 1.15rem;
        line-height: 2.25rem;
    }
}
