@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.collapsible {
    @include flex-column;
    gap: $gap-default;

    &__question {
        @include flex-vertical;
        cursor: pointer;
        border-radius: $border-radius-default;
        padding: 1rem;
        background-color: #fff;
    }

    &__answer {
        padding: $padding-default 2.5rem 1.5rem;
        font-size: 0.8125rem;
        opacity: 50%;
    }
}
