@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.review {
    @include tablet {
        display: flex;
        gap: $gap-default;
    }

    &__leads {
        @include flex-column;
        gap: $gap-leads;

        @include tablet {
            @include border-padding;
        }

        &-img {
            width: 2.25rem;
        }
    }

    &__content {
        display: none;

        @include tablet {
            display: flex;
        }
    }
}
