@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.review {
    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        @include shadow;
        @include border-padding;

        @include tablet {
            display: flex;
            gap: $gap-default;
        }

        &-leads {
            @include flex-column;
            gap: $gap-leads;

            @include tablet {
                @include border-padding;
            }

            &-img {
                width: 2.25rem;
            }
        }

        &-content {
            display: none;

            @include tablet {
                display: flex;
            }
        }
    }
}
