@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.landing {
    @include flex-column;
    gap: $gap-default;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__ctn {
        @include flex-column;
        gap: $gap-default;
        text-align: center;

        @include desktop {
            height: 35%;
            width: 35%;
        }

        &-access {
            @include flex-column;
            gap: $gap-default;
            opacity: 50%;
        }

        &-indv {
            @include flex-column;
            gap: $gap-default;
            align-items: center;
            text-align: center;

            &-logo {
                max-width: 10rem;
            }
        }

        &-login {
            @include flex-vertical;
            gap: $gap-default;
            justify-content: center;

            &-buttons {
                border: none;
                padding: 0.35rem 1rem;
                border-radius: 0.75rem;
                color: $prim-color-1;
                font-size: 0.75rem;
                background-color: $btn-color-1;
                min-height: 2.5rem;
                min-width: 5rem;
                max-width: 5rem;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}
