@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.leads {
    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        @include border-padding;
        @include shadow;

        &-btn {
            display: flex;
            gap: $gap-default;
            margin-bottom: $margin-default;
        }

        &-indv {
            @include flex-column;
            gap: $gap-leads;
        }
    }
}
