@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.leads {
    width: 100%;

    @include tablet {
        margin: 0 0 0.75rem 0.75rem;
    }

    &__sec {
        border: 1px solid black;
        border-radius: $border-radius-default;
        padding: $border-padding-default;
        @include shadow;

        &-btn {
            margin: $margin-between-components-default;
            display: flex;
            gap: $gap-default;
        }

        &-indv {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}
