@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.lead {
    @include border-no-radius;
    @include flex-vertical;
    border-radius: $border-radius-default;
    padding: 0.5rem 0.75rem;
    gap: $gap-default;

    &:hover {
        cursor: pointer;
        transform: scale(1.0075);
        @include shadow;
    }

    @include tablet {
        gap: 2.75rem;
    }

    &-container {
        &__select {
            @include border-image;
            @include flex;
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
        }

        &__img {
            @include border-image;
            width: 2.25rem;
            height: 2.25rem;
        }

        &__more {
            display: none;

            @include tablet {
                @include border-image;
                @include flex;
                width: 1rem;
                height: 1rem;
            }
        }

        &__business {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }
}
