@use "./styles/partials/fonts";
@use "./styles/partials/reset";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

html {
    background-color: $prim-color-1;
}

.app {
    padding: 0 1rem;

    @include tablet {
        &__structure {
            display: flex;

            &-sidebar {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                gap: 0.75rem;
            }

            &-routes {
                flex-grow: 5;
            }
        }
    }
}
