@use "./styles/partials/fonts";
@use "./styles/partials/reset";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.app {
    padding: 1.25rem;
    height: 100vh;

    &__structure {
        // height: calc(100% - 4.25rem);

        @include tablet {
            display: flex;
        }

        &-sidebar {
            @include tablet {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                gap: 0.75rem;
            }
        }

        &-routes {
            @include border-padding;
            @include shadow;
            // height: 100%;

            @include tablet {
                margin-left: 0.75rem;
                flex-grow: 5;
            }
        }
    }
}
